* {
  box-sizing: border-box;
  padding:0px;
  margin:0px;
  
  }



html, body {
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-size:16px;
  margin: 0;
  padding: 0;
  color: #626262;
}

.border {
  border: 1px solid black;
}


a {
  color: #333333;
  text-decoration: none;
  background-color: transparent;
}





a:hover {
  color: #25e6c8;
  text-decoration: underline;
}


.bg-dark {
  background: #333333;
  color: #ffffff;

}
a i {
  color: #2BAAEC;
  padding-right: 15px;
  
  
}

a i:hover {
  color:#25e6c8;

}


.bg-light {
  background: #f7f7f7;
  color: #333333;
}

.bg-gray {
  background: #dedede;
  
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 0.75rem 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 1rem;
  
}

.btn-greenish {
color: #fff;
background-color: #25e6c8;
font-weight: bold;
font-family: 'Roboto', serif;
}

.btn-greenish:hover {
  cursor: pointer;
  background-color: #2baaec;
}

.collapse:not(.show) {
  display: none;
}
.container {
width: 100%;
 padding: 0 1rem;
  margin: 0 auto;
}

.navbar-top {
  border-bottom: 1px solid #707070;
}


.navbar, .navbar-top {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar .container, .navbar-top .container {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-top .container {
  font-size: 0.8rem;

}

.navbar-top .container .hours {
  color: #626262;
  
}

.navbar-top .container .hours i {
  color: #2baaec;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.navbar-top .container .socialmedia a {
  margin: 0 0.5rem;
}

.navbar-brand {
  display: inline-block;
  font-size: 1.5rem;
  color: black;
  margin-right: 1rem;
}

.navbar-brand img {
  height: 3rem;
  margin-top: 0.5rem;
}


.navbar-toggler {
  font-size: 2.5rem;
  color: #2baaec;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-collapse {
  align-items: center;
}


.navbar-nav {
  display: flex;
  flex-direction: column;
}


  .nav-link {
    padding: 0;
    text-decoration: none;
  }

  #showcase .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;


  }

  #showcase .container img {
    height: 500px;
    margin-top: 1rem;
  }

  #showcase .container .content-box {
    align-self: center;
    color: #363636;
    font-weight: 300;
  }

  .content-box .content h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 1.1;
    color: #363636;
  }

  .content-box .content p {
    font-size: 18;
    font-family: 'Roboto', serif;
    color: #626262;
    line-height: 1.5;
    padding-top: 2rem;
    padding-bottom: 2rem;
    

    

  }

 .placering {
  margin-left: -6rem;
  margin-bottom: -6px;
 }

 @media (max-width: 375px) {

 }




@media (min-width: 768px) {
  .nav-link {
    padding: 0.5rem;
    margin: 0.5rem;
  }
  a {
    color: #333333;
    text-decoration: none;
    background-color: transparent;
  }

  
  .content-box2 .content2 h1 {
    text-align: center;
    
  }
  .container {
    max-width: 720px;
  }
  .center-content {
    display:flex;
    justify-content: space-between;
    padding: 4rem 0;
  }
  .grid33 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-left: 10rem;
    padding-right:10rem;
    padding-top: 4rem;
    margin-bottom:-1.35rem;
    
    
    
    
    
  
  
  
  grid-template-areas: "h h h a a"
                      "f b i a a"
                      
                     
  }  
  .grid button:hover {
    
  background-color: white;
  cursor: pointer;

  
  }
  .d-flex {
    display: flex;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  #box-1 {
    grid-area: h;
    }
    
    
    
    #box-3 {
      grid-area: a;
    }
    
    #box-4 {
      grid-area: f;
    }
    
    #box-5 {
      grid-area: b;
    }
    
    #box-6 {
      grid-area: i;
    }
    
    .grid {
      padding-right: 10rem;
      padding-left: 10rem;
      padding-top: 5rem;
      padding-bottom: 8rem;
      
    }
    
    .grid button {
      padding: 2rem;
      
    }
    
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.5rem;
      background-color: #F7F7F7;
    }

    #appointment {
      background-color: #dedede;
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      color: #ffffff;
    }
    footer {
      border-top: 1px solid rgba(255, 255, 255, 0.6);
      background-color: #2BAAEC;
      color: #F3FBFF;
      text-align: center;
      padding: 1rem 0rem;
      font-family: 'Roboto', sans-serif;
      
    }
  
    
  
 
  }
  .navbar-nav {
    flex-direction: row;
  }
  .navbar-toggler {
    display: none;
  }

  

  .collapse:not(.show) {
    display: flex;
  }

  

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}



@media (min-width: 1920px) {
  .container {
    max-width: 1440px;
  }
}



#box-1 { background: white; }


.box {
  padding: 1rem;
}


.content-box2 .content2 h1 {
  font-family: 'Roboto Slab', serif;
  color: #363636;
    font-weight: 300;
    line-height: 1.1;
    font-size: 2.8rem;
    background-color: #F7F7F7;
    padding-top:10rem;
    text-align:center;
    
    
    
}
   

    
  




#box-33 { background: white; }

.box {
    padding: 1rem;
}



#box-1 h1{
  font-family: 'Roboto Slab', serif;
  color: #363636;
    font-weight: 300;
    line-height: 1.1;
    font-size: 40px;
    padding-top: 5rem;
}

                  
#box-1 p{
 font-family: 'Roboto', sans-serif;
 font-size: 18px;
 color: #626262;
  justify-content: space-between;
  font-weight: 350;
  
}
#heej p{
  padding-top: 3rem;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #626262;

}

#hej p{
  padding-top: 2rem;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #626262;
  

}
#box-4 h1 {
  font-size: 40px;
  color: #2BAAEC;
  font-family: 'Roboto Slab', serif;
  font-weight: 98;
    line-height: 53px;
  
}

#box-5 h1 {
  font-size: 40px;
  color: #2BAAEC;
  font-family: 'Roboto Slab', serif;
  font-weight: 98;
    line-height: 53px;
    
}

#box-6 h1 {
  font-size: 40px;
  color: #2BAAEC;
  font-family: 'Roboto Slab', serif;
  font-weight: 98;
    line-height: 53px;
    
}

#box-4 p {
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  font-weight: 130;
    line-height: 24px;
    color:#363636;
    text-align: left;
    
}

#box-5 p {
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  font-weight: 130;
    line-height: 24px;
    color:#363636;
    text-align: left;
    
}

#box-6 p {
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  font-weight: 130;
    line-height: 24px;
    color:#363636;
    text-align: left;
    
}



#box-1 h2 {
text-align: center;
font-family: 'Roboto Slab', serif;
font-weight: 300;
line-height: 1.1;
color: #363636;
font-size: 1.5rem;
margin-bottom:1rem;
margin-top:1rem;
}

.grid {
  text-align:center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  
}

.grid button {
  padding: 2rem;
  
}

.grid {
  display: grid;
  gap: 1.5rem;
  background-color: #F7F7F7;
}


.grid p {
text-align: center;
font-size: 0.9rem;
color: #626262;
justify-content: space-between;
font-family: 'Roboto', serif;
font-weight: 350;
padding: 1.5rem;
}


.overlay {
  opacity: 80%;
  background-color: #2BAAEC;
}



#appointment {
  background-color: #dedede;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  text-align:center;


  
  
    
}
.btn-primary {
  color: #2BAAEC;
  background-color: #fffFFF;
  font-weight: bold;
  
 
    
}
.btn-primary:hover {
  cursor: pointer;
  background-color: #25E6C8;
}

.appointment {
text-align: center;
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  background-color: #2BAAEC;
  color: #F3FBFF;
  text-align:center;
  padding: 1rem 0rem;
  font-family: 'Roboto', sans-serif;
  
}










