 li{
  display:inline-block;
}

ul{
  display:inline-block;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img {
  padding-top:50px;
  padding-left:10px;
  
  
 
}

h2 {
  
  margin-bottom: 150px;
  padding-left: 150px;
  
  
}

p {
  margin-top: 100px;
  padding-right: 600px;
}

body {
  background: url("grey-picture.png");
  background-repeat:no-repeat;
  background-position: center;
  background-size: 120%;
  background-position-y:320px;

}

li {
  padding-right: 15px;
  display: 
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;

  label {
    margin-right: px;
  }



  










